{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "arrow-body-style": 0,
    "comma-dangle": 0,
    "func-names": 0,
    "global-require": 0,
    "max-len": 0,
    "no-console": 0,
    "no-unused-vars": 0,
    "prefer-destructuring": 0,
    "quotes": [2, "single"],
    "space-before-function-paren": "never",
    "spaced-comment": ["error", "always", { "exceptions": ["*"] }],
    "react/display-name": 0,
    "react/prop-types": 0,
    "react/no-multi-comp": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-curly-spacing": 0,
    "react/prefer-stateless-function": 0,
  }
}
