@import url(https://fonts.googleapis.com/css?family=Nunito:400,300);

body {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

header {
  height: 60px;
}

/* Basic Layout */

.container-fluid {
  padding: 0;
}
.container-row {
  @extend .row;
}
.column {
  @extend .col-md-6;
  @extend .col-md-offset-3;
}

/* Filter Panel */

#filter-panel {
  background-color: $cyan;
  height: 60px;
  margin-bottom: 20px;
}

/* Transaction List */

.transaction-list {
  padding-top: 20px;

  .toolbar {
    margin-bottom: 20px;
  }
}

.transaction {
  background-color: $background-dark-1;
  border: none;

  .delete {
    float: right;
  }
}
