@import url(https://fonts.googleapis.com/css?family=Nunito:400,300);

html {
  overflow-y: scroll;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/* Basic Layout */

$headerHeight: 55;
$filterHeight: 50;

#root {
  padding-top: ($headerHeight + $filterHeight) + px;
  position: relative;
}

.container-fluid {
  padding: 0;
}
.container-row {
  @extend .row;
}
.column {
  @extend .col-md-6;
  @extend .col-md-offset-3;
}

#data-view-container {
  position: fixed;
  top: ($headerHeight + $filterHeight) + px;
  width: 100%;
  z-index: 100;
}

.container-row.toolbar {

  position: fixed;
  top: ($headerHeight + $filterHeight + 70) + px;
  width: 100%;

  .column {
    @extend .col-md-8;
    @extend .col-md-offset-2;

    padding-left: 100px;
  }
}

/* Widgets */

.fab {
  background-color: $cyan;
  border: none;
  border-radius: 50%;
  color: $base2;
  padding: 0;
  height: 40px;
  vertical-align: middle;
  width: 40px;
}
.fab:hover {
  background-color: darken($cyan, 10%);
  border-color: transparent;
  color: $base2;
}
.fab:active {
  background-color: darken($cyan, 20%);
  color: $base2;
}

/* Header */

header {

  background-color: $background-dark-2;
  height: $headerHeight + px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 110;

  .navbar-default {
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 0;
  }
}

/* Filter Panel */

#filter-panel {
  background-color: $cyan;
  color: $base2;
  height: $filterHeight + px;
  padding-top: 8px;
  position: fixed;
  top: $headerHeight + px;
  width: 100%;
  z-index: 100;
}

/* Transaction List */

.transaction-list {
  margin-top: 50px;
  overflow: hidden;
  padding-top: 20px;

  .toolbar {
    margin-bottom: 20px;
  }
}

.transaction {
  background-color: $background-dark-1;
  border: none;
  border-radius: 4px;
  position: relative;

  span {
    margin: 10px;
  }

  .date {
    display: inline-block;
    width: 130px;
  }
  .amount {
    display: inline-block;
    margin-right: 40px;
    text-align: right;
    width: 100px;
  }
  .name {
    display: inline-block;
    width: 300px;
  }

  .delete {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

/* Data Views */

#data-view-container {
  background-color: $base00;
  color: $base2;
}

#view-simple-sums {
    height: 40px;

    span {
      display: inline-block;
      margin-right: 30px;
      margin-top: 10px;
    }
}
